/* Styling. The document's elements must have the following styles:

body has a width of 33%.
res has a background-color of lightgray, a border that is solid, a height of 48px, and a font-size
of 20px.
btn0 and btn1 have a background-color of lightgreen and a color of brown.
btnClr and btnEql have a background-color of darkgreen and a color of white.
btnSum, btnSub, btnMul, and btnDiv have a background-color of black, a color of red.
All the buttons in btns have a width of 25%, a height of 36px, a font-size of 18px, margin of 0px,
and float value left. */

.buttonContainer {
    width: 20%;
    background: #0000ff;
}

.buttonContainer > .buttonClass {
    width: 33%;
    height: 48px;
    font-size: 16px;
}
